body {
  margin: 0;
  background: #fce8c7;
}

/* Navbar */
.navbar {
  background: #fce8c7;
  width: 100%;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 20px;
}

.navbar-title {
  font-size: 82px;
  font-weight: 800;
  color: #ff8a3d;
  text-shadow: 2px 2px 0 #fff, 4px 4px 0 #f4b07d;
  margin: 0;
  font-family: "Pacifico", cursive;
}

.navbar-logo {
  height: 80%;
  width: auto;
  cursor: pointer;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.about-section {
  max-width: auto;
  margin: auto;
  text-align: center;
  margin-top: 300px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0px 0px;
  flex-wrap: wrap;
  max-width: 100%;
}

.about-text {
  max-width: 500px;
  font-size: 1.35rem;
  line-height: 1.75;
  font-weight: 400;
}

.about-text strong {
  font-weight: 600;
}

.about-leader-caption {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  color: #555;
}

.about-image img {
  width: 400px;
  height: auto;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.about-card {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 18px;
  font-size: 1.1rem;
  line-height: 1.6;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* colors */
.about-card.pink {
  background: #ffd4e5;
}

.about-card.blue {
  background: #d4e7ff;
}

.about-card.green {
  background: #d9ffd9;
}
