body {
  margin: 0;
  background: #fce8c7;
}

/* Navbar */
.navbar {
  background: #fce8c7;
  width: 100%;
  height: 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-bottom: 5px solid #f8be87;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 20px;
}

.navbar-logo {
  height: 80%;
  width: auto;
  object-fit: contain;
}

.navbar-subtitle {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
  color: #a35a2a;
  letter-spacing: 1px;

  text-align: center;

  opacity: 0.9;
  text-shadow: 1px 1px 0 #fff6, 2px 2px 0 #f4c28b;
}

.about-section {
  max-width: auto;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.about-us-header {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 800;
  color: #2d1b07;

  max-width: 1200px;
  margin: 40px auto 20px;
  padding: 20px 10px;

  line-height: 1.3;
  letter-spacing: -0.5px;

  position: relative;

  /* Slight "gamer glow" */
  text-shadow: 2px 2px 0 #fff3, 4px 4px 0 #ffcd94;
}

.about-us-header::after {
  content: "";
  width: 120px;
  height: 4px;
  background: linear-gradient(90deg, #ffb66a, #ff9441);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 100%;
}

.about-text {
  max-width: 500px;
  font-size: 1.35rem;
  text-align: center;
  line-height: 1.75;
  font-weight: 400;
}

.about-text strong {
  font-weight: 600;
}

.about-image-text {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  color: #555;
}

.about-image img {
  width: 400px;
  height: 370px;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.about-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin: 40px 0;
}

.about-card {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 18px;
  font-size: 1.1rem;
  line-height: 1.6;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.about-card.pink {
  background: #ffb5ac;
}

.about-card.blue {
  background: #c7e9ff;
}

.about-card.green {
  background: #eaffc7;
}

.sub-navbar {
  background: #fce8c7;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;

  border-top: 2px solid #f8be87;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.sub-navbar p {
  font-size: 16px;
  margin: 2px 0;
  text-shadow: 1px 1px 0 #fff6;
}
