body {
  margin: 0;
  background: #fce8c7;
}

/* Navbar */
.navbar {
  background: #fce8c7;
  width: 100%;
  height: 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-bottom: 5px solid #f8be87;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 20px;
}

.navbar-logo {
  height: 80%;
  width: auto;
  object-fit: contain;
}

.navbar-subtitle {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
  color: #a35a2a;
  letter-spacing: 1px;

  text-align: center;

  opacity: 0.9;
  text-shadow: 1px 1px 0 #fff6, 2px 2px 0 #f4c28b;
}

.about-section {
  max-width: auto;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

/* Welcome text*/
.about-header {
  text-align: center;
  font-size: 5.5rem;
  color: #2d1b07;
  max-width: 1600px;
  margin: 40px auto 20px;
  padding-top: 20px;
  line-height: 1.3;
  letter-spacing: -0.5px;
  position: relative;
  text-shadow: 2px 2px 0 #fff3, 4px 4px 0 #ffcd94;
}

@media (max-width: 600px) {
  .about-header {
    font-size: 4rem;
  }
}

/* Scroll down tip text*/
.about-header .subtext {
  display: block;
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 100%;
}

.about-text {
  max-width: 1800px;
  font-size: 2.2rem;
  text-align: justify;
  line-height: 1.75;
  font-weight: 400;
  margin: 0 100px;
}

@media (max-width: 700px) {
  .about-text {
    margin: 0 20px;
    font-size: 1.4rem;
  }
}

.about-image-text {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  color: #555;
}

.about-image img {
  width: 600px;
  height: 600px;
  padding: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.stats-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-box {
  background-color: #f5f0ff;
  text-align: center;
  flex: 1;
  border-radius: 10px;
  min-width: 120px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.stat-box h3 {
  font-size: 1.5em;
}

.stat-box p {
  font-size: 0.9em;
  color: #555;
}

.about-social-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.about-social-btn {
  width: 100px;
  height: 100px;
  background: #f2f4f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease;
}

.about-social-btn:hover {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 0.9);
  transform: translateY(-3px);
}

.about-social-btn img {
  width: 50px;
  opacity: 0.75;
  transition: 0.25s;
}

.about-social-btn:hover img {
  opacity: 1;
}

.sub-navbar {
  background: #fce8c7;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;

  border-top: 2px solid #f8be87;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.sub-navbar p {
  font-size: 20px;
  margin: 2px 0;
}
